<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="BONUSPROJE1.Properties.Settings.bonusokulConnectionString"
            connectionString="Data Source=DESKTOP-KPC6PV7\SQLEXPRESS;Initial Catalog=bonusokul;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>